
  .sub-background {
    min-height: 100vh;
    background: transparent;
    border-bottom: 8px solid #222 !important;
    color: #fff;
    margin-bottom: 0;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
   
 }

 .email-form {
    display: flex;
    justify-content: center;
 }

 .story1 {
    font-size: 70px !important;
 }

 .story2 {
    font-size: 38px !important;
 }

 button {
    margin-top: 7px !important;
    margin-left: 0px !important;
 }

 .emaila {
    padding: 80px 200px 0 !important;
    width: 100% !important;
    border: 1px solid #8c8c8c;
    border-radius: 2px;
    box-sizing: border-box;
    color: #000;
    display: block;
    font-size: 16px;
    margin-top: 10px;
 }

 button {
    margin-top: 10px !important;
     padding: 33px 100px !important;
    border: none;
   
 }
.chevron-right-arrow {
   margin-left: 20px;
   font-weight: bolder !important;
}
 .span {
   text-align: center;
    font-size: 30px;
    
 }
 

 .bg-img {
    min-height: 100vh;
 background:linear-gradient(0deg, rgba(24, 22, 22, 0.932), rgba(24, 22, 22, 0.932)), url(./images/background.jpg);
 background-repeat: no-repeat;
 
 }


.signin {
    border-radius: 3px;
    margin: 70px;
    background-color: #e50914;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
    padding: 5px 10px;
}

.logo {
    margin: 70px;
}

.logoimg {
    font-size: 30px;
    min-width: 10vw;
}



.top {
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: white;
    font-size: 30px;
}

.main {
    display: flex;
    justify-content: center;
    text-align: center;
    
}

.download {
    padding: 0px 100px;
}


#section2, .stranger-section, #section4, #section5 {
    border-bottom: 8px solid #222;
}

 
.section, .stranger-section{
    display: flex;
    justify-content: center;  
    min-height: 70vh;
    background-color: black;
    color: white; 
}

#asked-question {
    min-height: 70vh;
    background-color: black;
    color: white;
}

#section5 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh !important;
}

.story-card {
    text-align: left !important;
    margin-top: 70px;
    font-size: 40px;
}

.story-card2 {
    text-align: left;
    margin-top: 70px;
    font-size: 30px;
    margin-left: 100px !important;
}

.margins {
    margin-bottom: 100px !important;
}

.image-tv {
    position: absolute;
}

.video-tv {
    position: relative;
    margin-top: 100px;
    margin-left: 80px;
}

.text {
    margin: 25px;
   
}

.text-0 {
    color: #fff;
    font-size: .9em;
    font-weight: 500;
}

.text-1 {
    color: #0071eb;
    font-size: .75em;
    font-weight: 400;
}

.div-0 {
    position: absolute;
  
}

.div {
    display: flex;
    justify-content: space-between;
    margin-top: 450px;
    position: relative;
    margin-left: 150px;
    margin-right: 50px;
    border: 2px solid hsla(0,0%,100%,.25);
    border-radius: 0.75em;
    box-shadow: 0 0 2em 0 #000;
}

#section4, #section5 {
    padding: 10px;
    min-height: 20vh;
    background-color: black;
    color: white; 
}



.stranger-text {
    margin-left: 400px;
    margin-top: 150px;
    font-weight: 500;
}

input[type='checkbox'] {
    display: none;
  }

  .question-header  {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .spacing {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  
   .lbl-toggle {
    display: block;
    padding: 20px;
    background: #303030;
    cursor: pointer;
    border-radius: 7px;
    transition: all 0.25s ease-out;
    margin-bottom: 10px;
  }

  .plus {
    display: flex !important;
    justify-content: space-between !important;
  }
  
  footer {
    padding: 10px;
    min-height: 20vh;
    background-color: black;
    
    border-bottom: 10px solid black;
  }

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #303030;
    text-align: left;
}

li {
    list-style: none;
    margin-bottom: 20px;
}

ul li  a {
    
    color: #303030;
}

.sect-1,.sect-2, .sect-3, .sect-4 {
    margin-right: 100px;
 
}

.plus {
    margin-left: 1000px;
    text-align: center;
    padding-bottom: 20px;
}

.plus2 {
    margin-left: 850px;
    text-align: center;
}

.plus3 {
    margin-left: 810px;
    text-align: center;
}

.que {
    margin-bottom: 50px;
}

.que2 {
    margin-top: 50px;
}


 